{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}




{% for categorie in categories %}
<h1 class="mt-5 mb-4">{{ categorie.titre|capitalize}} </h1>
<div class="container">
  <div class="row gap-2 d-flex justify-content-center">
    {% for produit in categorie.produits %}
    <div class="card col-3  " style="width: 18rem;">
      <img src="{{asset('img/') ~ produit.img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="height:40px;">{{produit.titre}}</h5>
        <p class="card-text" style="height:40px;">{{produit.description}}</p>
        <p class="card-text " style="height:30px;">{{produit.prix}} euros</p>
        <div class="row">
        <div class="col">
        <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-secondary">Voir le produit</a>
        </div>
        <div class="col">
        <a href="{{path('app_cart_add', {'id': produit.id }) }}" class="btn btn-secondary">Ajouter au panier</a>
        </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}





{% endblock %}