<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>

<body>
    <header>
        <nav>
            <div class=" nav-image  ">
                <div class="que nav-flex d-flex flex-row justify-content-between">
                    <div class="logo">
                        <img src="{{asset('/img/logo.png')}}" alt="">
                    </div>
                    <div class=" nav-droite     ">
                        <ul class="  d-flex flex-row ">
                            <li><a href=""><i class="fa-sharp fa-solid fa-cart-shopping fa-2xl"
                                        style="color: #ffffff;"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-phone fa-2xl " style="color: #ffffff;"></i></a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a class="admin-a" href="{{path('app_produit_index')}}">Produits</a></li>
                            <li><a class="admin-a" href="{{path('app_categorie_index')}}">Catégorie</a></li>
                            <li><a class="admin-a" href="{{path('app_user_index')}}">Utilisateurs</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_USER')==false %}
                            <li><a class="boutton " href="{{path('app_login')}}">Connexion</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                            <li><a class="boutton" href="{{path('app_logout')}}">Déconnexion</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_USER')==false %}
                            <li><a class="boutton" href="{{path('app_register')}}">Inscription</a></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    
    {% block body %}{% endblock %}

     <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="fa-brands fa-instagram "></i></a><a href="#"><i class="fa-brands fa-snapchat"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Page d'accueil</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">A propos</a></li>
                <li class="list-inline-item"><a href="#">Conditions</a></li>
                <li class="list-inline-item"><a href="#">Politique de confidentialité</a></li>
            </ul>
            <p class="copyright">Company Name © 2023</p>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="{{ asset('js/script.js') }}"></script>
</body>

</html>



